/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.container{
    background-color: black;
}

/* regole comandi parte alta */
.top{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.gray-controls{
    background-color: rgba(82, 82, 82, 0.459);
    border: 1px solid  rgba(82, 82, 82, 0.459);
    padding: 5px;
    border-radius: 5px;
}

.top-controls.dx{
    margin-left: 5px;
}

/* regole griglia partecipanti */
.participants{
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
    margin: 50px 10px 0 10px;
}

.card{
    width: calc(100% / 7);
    position: relative;
}

.name-participant{
    position: absolute;
    left: 0;
    bottom: 5px;
}


/* regole comandi generali bottom */

.bottom{
    height: 50px;
    background-color: rgb(19, 19, 19);
}

.container-btm{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls{
    display: flex;
}

.controls-space{
    padding: 0 5px;
    display: inline-block;
    text-align: center;
}

.arrow{
    align-self: center;
    font-size: 10px;
}

.green{
    color: green;
}

.end-control{
    height: 100%;
    padding: 10px;
    color: red;
    background-color: rgb(57, 57, 57);
    align-self: center;
}