/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.container{
    height: 100vh;
    background-color: black;
}

/* regole comandi parte alta */
.top{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.top-controls{
    background-color: rgb(82, 82, 82);
    border: 1px solid  rgb(82, 82, 82);
    padding: 5px;
    border-radius: 5px;
}

.top-controls.dx{
    margin-left: 5px;
}

/* regole griglia partecipanti */





/* regole comandi generali bottom */